* {
    margin: 0;
    padding: 0;
}

div > div > i:hover {
    opacity: 60%;
}

main {
    background-color: black;
}

main * {
    color: white;
}

.article-content {
    text-align: justify;
    font-size: 18px;
}

.profile-picture {
    width: 100%;
}

.project-container {
    padding: 15px;
}

.project-container label {
    font-size: 15px;
}

.project-img {
    width: 90%;
}

.skill, .hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill span, .hobby span {
    padding: 3px;
}